*{

}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url('pipes.webp');
	font-size: 16px;
	
}

main {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	
}

header {
	display: flex;
	color: white;
	box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.8);
	font-family: 'Monospace';
	text-align: center;
	justify-content: center;
	min-width: 280px;
	text-align: center;
	background-color: hsla(200.7, 80%, 40%,0.7);
}

/*ALINEACION*/
/*CONTENEDOR PRINCIPAL DEL FORMULARIO*/
.contenedor-form {
	border-radius: 6px;
	margin-top: 4rem;
	position: relative;
	width: 95vw;
	max-width: 700px;
	min-width: 290px;
	background-color: hsla(213.7, 77%, 47.6%, 0.75);
	box-shadow: 1px 2px 10px 4px hsla(0, 0%, 0%,0.7);

}
legend::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 4px;
	display: block;
	background-color: hsla(0, 0%, 0%, 1.0);
}
legend {
	color: hsl(0, 100%, 100%);
	position: relative;
	margin-top: 12px;
	font-size: 1.7rem;
	font-family: 'Arial black';
}

fieldset {
	border-style: none;
	padding: 10px;
	min-width: 240px;

	
}

.dpersonales {

	padding: ;
	margin-bottom: 2rem;	
}

.dpersonales fieldset div,
.direccion fieldset div {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	
	

}

.dpersonales fieldset {
	display: flex;
	flex-direction: column;
	
}


.direccion fieldset, .dpersonales fieldset {

	gap: 19px;
}

.telefono {
	width: 50%;
	min-width: 140px;
	
}

.telefono input {
	
}




label {
	width: fit-content;
	position: relative;
	font-size: 1.3rem;
	margin-top: 1rem;
	font-weight: 700;
	font-family: 'Lato Heavy','Arial Black';

}



input {
	font-size: 1.2rem;
	border-style: none;
	border-radius: 4px;
	padding: 12px;
}


input:focus{

	outline: none;
	background-color: hsl(210, 40%, 70%);
	
}
input:focus ~ label {
	
 	color: hsl(0, 0%, 100%); /* focused red */
	transition: color 0.2s ease-out;

}


input:focus ~ label::after{

	/*display: flex;*/
	width: 100%;
	transition: width 1s ease-out;
}


label::after{

	position: absolute;
	bottom: 1px;
	content: '';
	width: 0%;
	background-color: hsla(0, 0%, 0%, 1.0);
	height: 2px;
	left: 0px;
	transition: background 0.5s linear;
}

footer {
	box-shadow: 0px 4px 8px 6px black;
	display: block;
	margin-top: 50px;
	height: 120px;
	background-color: hsl(200, 70%, 20%);
	
}


.curp {
	position: relative;
}

.curp a {
	font-family: "Arial";
	font-style: italic;
	position: absolute;
	left: 70px;
	top: 20px;
	font-size: 16px;
	text-decoration: none;
}

#curp::after {

}

.btn-enviar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px;
	margin: 12px;

}

button:hover {

	color: white;
	background-color: hsl(210, 50%, 55%);
	border-style: solid;
	border-color: white;
	border-width: 1px;
	transition: background-color .3s linear;
}

button {
	width: 13rem;
	padding: 19px 40px;
	min-height: 78px;
	font-family: 'Verdana';
	font-weight: bold;
	font-size: 1.7rem;
	border-radius: 6px;
	border-style: none;
	color: hsl(200, 70%, 50%);

}

#error-form {
	background-color: wwhite;
	font-family: 'Ubuntu';
	font-weight: bold;
	color: hsl(0, 40%, 50%);
	line-height: 1;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-user-tie,
.fa-id-card,
.fa-envelope,
.fa-phone{
	position:absolute;
	right: 12px;
	bottom: 15px;

}





@media screen and (min-width: 569px) {
	.direccion fieldset, .dpersonales fieldset  {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) ;
	}

	.estado-container, .telefono {
		grid-column: 1/3;
		margin: 0 auto;
		width: 50%;

	}



}

/*
.nombre:hover label::before {
	position: absolute;
	content: '';
	width: 300px;
	height: 2px;
	display: block;
	background-color: red;
}
*/





















